{% extends "base.html" %}

{% block content %}
    <script>
        function setMode(mode) {
            $.post("mode/" + mode, function (result) {
                $.notify(result, ['clickToHide: true', 'autoHide: true', 'autoHideDelay: 5000'])
            })
        }
        function changeTemp(num) {
            console.log(num);
            var input = $("#target_temp");
            var counter = parseInt(input.val());
            counter += num;
            input.val(counter);
            if (isNaN(input.val())) {
                sessionStorage.reloadAfterPageLoad = true;
                window.location.reload();

            } else {
                $.post('temp/target', $("#targetTempForm").serialize(), function (result) {
                    console.log("new temp is " + counter);
                    $.notify(result, ['clickToHide: true', 'autoHide: true', 'autoHideDelay: 5000'])
                });
            }
        }
        $(function () {
            if (sessionStorage.reloadAfterPageLoad) {
                $.notify("Refreshed the page, you did something wrong", ['clickToHide: true', 'autoHide: true', 'autoHideDelay: 5000']);
            }
        })
    </script>
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-lg-5 col-sm-5">
                <div class="row">
                    <a><i class="fa fa-arrow-up fa-3x top" onclick="changeTemp(1)" aria-hidden="true"></i></a>
                </div>
                <div class="row center-block">
                    <form id="targetTempForm" action="temp/target" method="post">
                        <input title="TargetTemp" id="target_temp" type="text" value="{{ current_target }}"
                               name="target_temp"/>
                    </form>
                </div>
                <div class="row">
                    <a><i class="fa fa-arrow-down fa-3x top" onclick="changeTemp(-1)" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <div class="row">
            <button name="heat_mode" id="heat_mode_btn" onclick="setMode('heat');" type="submit">Heat Mode</button>
            <button name="cool_mode" id="cool_mode_btn" onclick="setMode('cool');" type="submit">Cool Mode</button>
            <button name="system_off" id="system_off_btn" onclick="setMode('off');" type="submit">Off</button>
        </div>
    </div>
{% endblock %}