{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-lg-5 col-sm-5">
                <div class="row">
                    <a><i class="fa fa-arrow-up fa-3x top" aria-hidden="true"></i></a>
                </div>
                <div class="row center-block">
                    74
                </div>
                <div class="row">
                    <a><i class="fa fa-arrow-down fa-3x top" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-lg-5 col-sm-5 col-xs-5">
                <div class="row">Auto</div>
                <div class="row">Auto</div>
                <div class="row">Auto</div>
                <div class="row">Auto</div>
            </div>
            <div class="col-md-5 col-lg-5 col-sm-5 col-xs-5">
                <div class="row">Auto</div>
                <div class="row">Auto</div>
                <div class="row">Auto</div>
                <div class="row">Auto</div>
            </div>
        </div>
    </div>



{% endblock %}