{% extends "base.html" %}

{% block content %}
    <script>
        function setMode(mode) {
            $.post("mode/" + mode, function (result) {
                $.notify(result, ['clickToHide: true', 'autoHide: true', 'autoHideDelay: 5000'])
            })
        }

    </script>
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-lg-5 col-sm-5">
                <div class="row">
                    <a><i class="fa fa-arrow-up fa-3x top" aria-hidden="true"></i></a>
                </div>
                <div class="row center-block">
                    74
                </div>
                <div class="row">
                    <a><i class="fa fa-arrow-down fa-3x top" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <div class="row">
            <button name="heat_mode" id="heat_mode_btn" onclick="setMode('heat');" type="submit">Heat Mode</button>
            <button name="cool_mode" id="cool_mode_btn" onclick="setMode('cool');" type="submit">Cool Mode</button>
            <button name="system_off" id="system_off_btn" onclick="setMode('off');" type="submit">Off</button>
        </div>


        <div class="row" hidden>
            <div class="col-md-5 col-lg-5 col-sm-5 col-xs-5">
                <div class="row">
                    <button name="fan_on" id="fan_on_btn" onclick="fanOn();" type="submit">Fan On</button>
                </div>
                <div class="row">
                    <button name="heat_on" id="heat_on_btn" onclick="heatOn();" type="submit">Heater On</button>
                </div>
                <div class="row">
                    <button name="ac_on" id="ac_on_btn" onclick="acOn();" type="submit">A/C On</button>
                </div>
            </div>
            <div class="col-md-5 col-lg-5 col-sm-5 col-xs-5">
                <div class="row">
                    <button name="system_off" id="system_off_btn" onclick="systemOff();" type="submit">System Off
                    </button>
                </div>
                <div class="row">Auto</div>
                <div class="row">Auto</div>
            </div>
        </div>
    </div>

{% endblock %}